@font-face {
    font-family: 'Roslindale';
    src: url('../font/Roslindale-TextRegular-Edu.woff2') format('woff2');
    src: url('../font/Roslindale-TextRegular-Edu.woff') format('woff');
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: 'Roslindale';
    src: url('../font/Roslindale-TextBold-Edu.woff2') format('woff2');
    src: url('../font/Roslindale-TextBold-Edu.woff') format('woff');
    font-style: normal;
    font-weight: 500;
  }

  @font-face {
    font-family: 'Roslindale';
    src: url('../font/Roslindale-TextItalic-Edu.woff2') format('woff2');
    src: url('../font/Roslindale-TextItalic-Edu.woff') format('woff');
    font-style: italic;
    font-weight: normal;
  }

  @font-face {
    font-family: 'Roslindale';
    src: url('../font/Roslindale-TextBoldItalic-Edu.woff2') format('woff2');
    src: url('../font/Roslindale-TextBoldItalic-Edu.woff') format('woff');
    font-style: italic;
    font-weight: 500;
  }

  @font-face {
    font-family: 'Roslindale Display';
    src: url('../font/Roslindale-DisplayCondensedBold-Edu.woff2') format('woff2');
    src: url('../font/Roslindale-DisplayCondensedBold-Edu.woff') format('woff');
    font-style: normal;
    font-weight: 500;
  }