:root {
    
     /* Font */
     --font-base:  "Sempione New Grotesk Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
     --font-sans:  "Sempione New Grotesk Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
     --font-h:  "Sempione New Grotesk Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
     --font-mono: "Sempione New Grotesk Regular", "ibm-plex-mono", monospace;
     --bold: "Sempione New Grotesk Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
     --em: "Sempione New Grotesk Cursive", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
     
     /* Colors */
     --link-color: #FFA531;
     --link-color-h:#FFB960;
     /* --bg-color: #E5E6E7; */
     --bg-color: #F9F9F8;
     --gray:#909799;
     --gray-2: #5D686B;
     --input-color: rgb(34, 53, 58, 0.95);
     --gray-3: #fff;
     /* --text-color:rgb(34, 53, 58); */
     --text-color:#18272B;
     --text-color-2:rgb(34, 53, 58, 0.8);
 
     --baseline: 1.2rem;
 
     /* spacing values */
     --space-sm: calc(var(--baseline)/2);
     --space-md: var(--baseline);
     --space-lg: calc(var(--baseline)*2);
     --space-xl: calc(var(--baseline)*3);
     --space-xxl: calc(var(--baseline)*8);
 
     --text-base-size: 1rem;
     --text-scale-ratio: 1.25;
 
     /* type scale */
     --text-xs: calc(1rem / (var(--text-scale-ratio) * var(--text-scale-ratio)));
     --text-sm: calc(1rem / var(--text-scale-ratio));
     --text-md: calc(1rem * var(--text-scale-ratio));
     --text-lg: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio));
     --text-xl: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
     --text-xxl: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
     --text-xxxl: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
     --text-xxxxl: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
     /* line-height */
     --heading-line-height: 1.1;
     --body-line-height: 1.4;

     --space-line-height:1.4rem;
 }
 
 @media screen and (max-width: 560px) {
     :root {
         --text-base-size: 0.9rem;
         --text-scale-ratio: 1.15;
         --baseline: 1rem;
         --text-lg: calc(1rem * var(--text-scale-ratio));
     }
 }
 
 @media (prefers-color-scheme: dark) {
     :root {
      /* Colors */
     --link-color: #FFA531;
     --link-color-h:#FFB960;
     /* --bg-color: #E5E6E7; */
     --bg-color: #0e1912;
     --gray:#909799;
     --gray-2: rgba(255,255,255,0.8);
     --gray-3: #19241E;
     /* --text-color:rgb(34, 53, 58); */
     --text-color:rgba(255,255,255,0.8);
     --text-color-2:rgb(255, 255, 255, 0.7);
     --input-color: rgb(34, 53, 58, 0.95);
     }
   }