{{ define "main"}}

{{ .Content }}
<div class="card">
    <div>
        <a href="https://ciroesposito.com"><img loading="lazy" src="/img/ciroesp.png"></a>
        <p>Sito personale con una raccolta di articoli sul design.</p>
        <p><a href="https://ciroesposito.com">ciroesposito.com</a></p>
    </div>
    <div>
        <a href="https://dispenser.design"><img loading="lazy" src="/img/dispenser.png"></a>
        <p>Una newsletter periodica che parla di web, tipografia, design e dintorni.</p>
        <p><a href="https://dispenser.design">dispenser.design</a></p>
    </div>
</div>
<hr>
{{end}}