<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
	{{- if .IsHome }}
			<meta name="description" content="{{ .Site.Params.Description }}">
		{{- else if .Description }}
			<meta name="description" content="{{ .Description }}">
  {{- end }}
  {{- if .IsHome }}
  <meta name="keywords" content="{{.Site.Params.Keywords}}" />
    {{- else if .Keywords }}
    <meta name="keywords" content="{{.Keywords}}" />
  {{- end }}
  <meta property="article:published_time" content="{{ .Date }}">
  <meta property="article:modified_time" content="{{.Params.Edit}}">
  <meta name="robots" content="noindex">
  <meta name="googlebot" content="noindex">
  <link rel="canonical" href="{{ .Permalink }}" />
  
  <meta name="author" content="{{.Site.Params.Author}}" />
  <meta name="copyright" content="© 2017-2020 Ciro Esposito" />
  <title>{{- if .IsHome }}{{ .Site.Title }}{{- else }}{{ .Title }} &middot; Dispenser.Design{{- end }}</title>
    <!-- <link href='{{ "css/style.css" | absURL }}' rel='stylesheet' type="text/css" /> -->
    {{ $style := resources.Get "scss/style.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">

  {{- if .IsHome }}
    <link rel="image_src" href="https://dispenser.design/img/dispenser.png">
    {{- else if .IsPage}}
    <link rel="image_src" href="{{ .Params.featured_image | absURL }}">
    {{- else if .Section }}
    <link rel="image_src" href="https://dispenser.design/img/dispenser.png">
  {{- end }}

  <meta property="og:title" content="{{.Title}}">
  <meta property="og:url" content="{{ .Permalink }}">
  {{- if .IsHome }}
  <meta name="og:image" content="./img/dispenser.png">
  {{- else if .IsPage}}
  <meta name="og:image" content="{{ .Params.featured_image | absURL }}">
  {{- else if .Section }}
  <meta name="og:image" content="./img/dispenser.png">
  {{- end }}
  {{- if .IsHome }}
  <meta property="og:description" content="{{ .Site.Params.Description }}">
    {{- else if .Description }}
  <meta property="og:description" content="{{ .Description }}">
  {{- end }}
  <meta property="og:type" content="article" />
  <meta property="og:site_name" content="Dispenser.Design">
  <meta name="twitter:url" content="{{ .Permalink }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@cirox">
  <meta name="twitter:creator" content="@cirox">
  <meta name="twitter:title" content="{{.Title}}">
  {{- if .IsHome }}
  <meta name="twitter:descrition" content="{{ .Site.Params.Description }}">
    {{- else if .Description }}
    <meta name="twitter:descrition" content="{{ .Description }}">
  {{- end }}
  {{- if .IsHome }}
  <meta name="twitter:image" content="https://dispenser.design/img/dispenser.png">
  {{- else if .IsPage}}
  <meta name="twitter:image" content="{{ .Params.featured_image | absURL }}">
    {{- else if .Section }}
  <meta name="twitter:image" content="https://dispenser.design/img/dispenser.png">
  {{- end }}
  <link rel="preload" as="style" href="https://webfonts.fontstand.com/WF-001681-418026201ec47961b02d9825592e759d.css">
  <link rel="stylesheet" href="https://webfonts.fontstand.com/WF-001681-418026201ec47961b02d9825592e759d.css" type="text/css"/>

{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<meta name="theme-color" content="#FFA531"
   media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="#19241E"
   media="(prefers-color-scheme: dark)">

</head>
<body>
    
  {{ partial "header.html" . }}
  {{ block "main" . }}
  
  {{end}}
  
  {{ block "footer" . }}
    {{ partial "footer.html" . }}
  {{end}}
  
</body>
</html>
