{{ define "main"}}
<article class="grid">
  <div>
    <h1>{{.Title}}</h1>
  {{ .Content }}
  {{ range .Pages}}
  <div>
    <div>
      {{ if .Params.featured_image }}<a href="{{.Permalink}}"><img src="{{ .Params.featured_image }}" loading="lazy"></a>{{end}}
    </div>
    <div class="text">
        <h5>
      {{ range .Params.tags }}
      <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
      {{ end }}
      </h5>
      <ul><h5>{{ dateFormat "02/01" .Date }}</h5>
        <li><a href="{{.Permalink}}">{{.Title}}</a></li>
      </ul>
    </div>
  </div>
  {{end}}
</div>
</article>
{{end}}